!!! 5
%html
  %head
    %title My Rotten Potato Stepped Through :)
    = stylesheet_link_tag    "application" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 

  %body

    header text goes here
    %hl

    = yield # yields the control to the view to generate stuff for here

    %hl
    footnote text goes here.

